In [1]:
bank_balance=200

In [2]:
print(bank_balance)

200

In [3]:
my_int=20

In [4]:
my_float=15.85

In [5]:
my_string='Hello World'

In [6]:
my_bool=True

In [7]:
height=60

In [8]:
width=40

In [9]:
new_area_of_rectangle=(height*width)

In [10]:
print(new_area_of_rectangle)

2400

In [11]:
height=1.7

In [12]:
weight=72.25

In [13]:
bmi=weight/(height*height)

In [14]:
bmi=int(bmi)
print(bmi)

25

In [15]:
gender="male"

In [16]:
is_obese=False

In [17]:
height=20

In [18]:
width=80

In [19]:
area_of_rectangle=height*width

In [20]:
total_interest=9762.69

In [21]:
type(total_interest)

float

In [22]:
type(area_of_rectangle)

int

In [23]:
bmi=25

In [24]:
bmi_str=str(bmi)
message="BMI is "+bmi_str

In [25]:
first="Cloudx"

In [26]:
second="Lab"

In [27]:
final=first+second

In [28]:
print(final)

CloudxLab

In [29]:
animal="cat"

In [30]:
ten_animals=animal*10

In [31]:
print(ten_animals)

catcatcatcatcatcatcatcatcatcat

In [32]:
def pay_calculator(hours, rate) :
    if(hours<=40):
        total_pay=hours*rate
    else:
        total_pay= 40*rate+ (hours-40)*1.5*rate
    return(total_pay)
hours=45
rate=10
total_pay=pay_calculator(hours,rate)
print(total_pay)

475.0

In [33]:
area_of_circle=78.5

In [34]:
area_of_circle=str(area_of_circle)

In [35]:
area_of_circle_msg="Area of the Circle is - "+area_of_circle

In [36]:
print(area_of_circle_msg)

Area of the Circle is - 78.5

In [37]:
square_area=8.9**2

In [38]:
square_area_type=type(square_area)

In [39]:
square_area_int=int(square_area)

In [40]:
square_area_str=str(square_area_int)

In [41]:
import math

In [42]:
square_root=math.sqrt(56.98)

In [43]:
sin_rad=(math.pi*2*26)/360

In [44]:
sin_degree=math.sin(sin_rad)

In [45]:
log_e=math.log(1000)

In [46]:
import random

In [47]:
random_number=random.random()

In [48]:
random_int=int(random_number)

In [49]:
def get_name():
    print("Cloudxlab")
get_name()

Cloudxlab

In [50]:
def groupdata(message, **kwargs):
    grouped_data = {}
    for key, value in kwargs.items():
        grouped_data[key.split("_")[0]] = grouped_data.get(key.split("_")[0], 0) + value
    return message + " " + str(grouped_data)

summary = groupdata(
    "My fruits:",
    apple_indian = 3,
    orange_indian = 5,
    apple_mexican = 6,
    orange_mexica = 7,
    banana=11
)
print(summary)

My fruits: {'apple': 9, 'orange': 12, 'banana': 11}

In [51]:
def my_function(number):
    xyz=number
    xyz_str=str(xyz)
    xyz_str=xyz_str+'cloudxlab'
    print(xyz_str)
    
my_function(10)

10cloudxlab

In [52]:
import math

def new_function(num):
    return math.pi*num

def void_function(num1,num2):
    print(new_function(num1**num2))

In [53]:
void_function(4.6,7.3)

216412.35147094267

In [54]:
def input_name():
    return(input("What am I studying?"))

In [55]:
subject=input_name()
print(subject)

What am I studying?english
english

In [56]:
def is_on_line(x1,x2,x):
    if((x1<=x<=x2)or(x1>=x>=x2)):
        return True
    else:
        return False

In [57]:
is_on_line(10, 20, 30)

False

In [58]:
is_on_line(10, 20, 20)

True

In [59]:
is_on_line(10, 20, -10)

False

In [60]:
is_on_line(-4, -5, -4.5)

True

In [61]:
def conditional_statements(num1, num2, num3, num4):
    if(num1<num2 and num1>num3 and num1==num4):
        if(num3<=num1 and num3<=num2 and num3<=num4):
            if(type(num2)==float and type(num1)==int and type(num3)==int and type(num4)==int):
                return(num1+num2+num3+num4)

In [62]:
print(conditional_statements(1,2.3,0,1))

4.3

In [63]:
type(2.3) == float

True

In [64]:
def except_func(num):
    try:
        result=num*num
    except:
        return("invalid number")
    return result

In [65]:
def print_even(n):
    for num in range(n):
        if(num%2==0):
            print(num)

In [66]:
print_even(5)

0
2
4

In [67]:
def compound_interest(principle, rate, years):
    comp_interest=0
    for year in range(years):
        interest=(principle*rate)/100
        principle+=interest
        comp_interest+=interest
    return comp_interest

In [68]:
compound_interest(100,5,2)

10.25

In [69]:
def sum_func(num):
    if((type(num) is int)==False):
        return -1
    if(num>=0):
        sum=0
        for i in range(num+1):
            sum+=i
        return sum
    else:
        return -1

In [70]:
sum_func(10)

55

In [71]:
sum_func(-1)

-1

In [72]:
sum_func('abcd')

-1

In [73]:
def special_func(num):
    total=0
    if(type(num) is not int or num<0):
        return -10
    else:
        a=num//2+1
        for i in range(1,a):
            if(num%i==0 and i%2==1):
                    total+=i
        return total

In [74]:
special_func(10)

6

In [75]:
def str_func(str):
    length=len(str)
    return str[length-1]

In [76]:
str_func('1234')

'4'

In [77]:
def sum_str_func(s):
    num=str(s)
    length=len(num)
    total=0
    for i in range(length):
        try:
            total+=int(num[i])
        except:
            print('not a valid number')
    return total

In [78]:
sum_str_func(1234)

10

In [79]:
def slicing_func(string):
    slice = string[2:]
    print(slice)
    return slice

In [80]:
slicing_func("cloudxlab")

oudxlab

'oudxlab'

In [81]:
a="cloudxlab"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [82]:
help(a.translate)

Help on built-in function translate:

translate(...) method of builtins.str instance
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [83]:
print(a.upper())

CLOUDXLAB

In [84]:
print(a)

cloudxlab

In [85]:
def email_func(string):
    found=0
    words=string.split(" ")
    for word in words:
        index=word.find('@')
        if(index!=-1):
            found=1
            return word
    if(found==0):
        return False

In [86]:
email_func("Crazy Frog")

False

In [87]:
email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

'abhinav@cloudxlab.com'

In [88]:
email_func("a a@")

'a@'

In [89]:
print('%d+3' % 3)

3+3

In [90]:
print("%f %f %s")

%f %f %s

In [91]:
print("%f %d %s" % (12.3, 12, 'cloudxlab'))

12.300000 12 cloudxlab

In [92]:
a = [23,12,32,1,2,34,56,12]
a.extend(a)
sum(a)

a.sort()
print(a[2] + a[7])

14

In [93]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
list1.pop(3)
sum(list1)

89

In [94]:
def str_list_func(string):
    words=string.split()
    i=0
    for word in words:
        if len(word)>1:
            first=word[0]
            middle=word[1:len(word)-1]
            last=word[len(word)-1]
            new_word=last+middle+first
            words[i]=new_word
        i+=1
    print(words)
    return " ".join(words)

In [95]:
str_list_func('I am learning Python at CloudxLab')

['I', 'ma', 'gearninl', 'nythoP', 'ta', 'bloudxLaC']

'I ma gearninl nythoP ta bloudxLaC'

In [96]:
def file_read_func(path):
    try:
        with open(path) as f:
            content=f.read()
            words=content.split()
            total=0
            for word in words:
                total+=len(word)
            return total
    except:
        return -1

In [97]:
file_read_func("/cxldata/python_sample_file")

65

In [98]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1
print(check)

0

In [99]:
with open('python_file_writing.txt','w') as f:
    f.write("I am learning Python at CloudxLab")

In [100]:
def dict_func(text):
    words=text.split()
    word_count={}
    for word in words:
        word_count[word]=word_count.get(word, 0)+1
    return word_count

In [101]:
dict_func('the quick brown fox jumps over the lazy dog')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [102]:
t1 = tuple("1,2,3,4,5")
print(len(t1))
print(t1)
t2 = tuple([1,2,3,4,5])
print(len(t2))
t3 = tuple((1,2,3,4,5))
print(len(t3))

9
('1', ',', '2', ',', '3', ',', '4', ',', '5')
5
5

In [103]:
t = tuple()
print(t)

()

In [104]:
t = (3,5,5,2,54)
sum=0
for i in t:
    sum+=i
print(sum)

69

In [105]:
(0, 1, 2) > (0, 1)

True

In [106]:
def dict_tuple_func(int_list):
    int_count={}
    int_tuple=tuple(int_list)
    for num in int_tuple:
        if num not in int_count:
            int_count[num]=0
        int_count[num]+=1
    sum=0
    for k,v in int_count.items():
        sum+=k
    t=(int_count, sum)
    return t

In [107]:
dict_tuple_func([1, 2, 3, 1, 2, 3])

({1: 2, 2: 2, 3: 2}, 6)

In [108]:
s1='dfsd'
s2='d'
s1.__contains__(s2)
dir(s1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [109]:
from math import trunc
num=4.5
trunc(num)

4

In [110]:
a=("a")
print(a)

a

In [111]:
def p(s):
    print(s)
i=p("str")
type(i)

str

NoneType